.history {
  background-color: #f9f7f2;
  padding-top: 160px;
  padding-bottom: 160px;

  &__img-block {
    width: 50%;
    position: relative;
    z-index: 2;
  }
  &__img {
    width: 100%;
    height: 560px;
    object-fit: cover;
  }
  &__deco {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    background: #bba285;
    box-shadow: 0px 20px 40px rgba(97, 52, 0, 0.3);
    border-radius: 3px;
    position: absolute;
    bottom: 54px;
    left: -48px;
    z-index: 3;
  }
  &__deco-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 112px;
    height: 112px;
    border-radius: 50%;
    border: 1px solid rgba($color: #ffffff, $alpha: 0.3);
  }
  .deco3 {
    position: absolute;
    top: 66px;
    right: -48px;
    z-index: -1;
  }

  &__text-block {
    width: calc(100% / 12 * 5);
  }
  .subtitle {
    @include subtitle;
    margin-bottom: 3px;
  }
  .title {
    @include title;
    margin-bottom: 14px;
  }
  &__text {
    @include main-text;
    margin-bottom: 23px;
  }
  &__button {
    @include button;
  }
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .history {
    &__img {
      width: 90%;
      display: block;
      margin-left: auto;
    }
    &__deco {
      left: 0;
      bottom: 54px;
    }
  }
}
@media screen and (max-width: 768px) {
  .history {
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: hidden;
    .container.container--flex {
      display: block;
    }
    &__img-block {
      width: 100%;
      margin-bottom: 63px;
    }
    &__img {
      display: block;
      width: calc(100% / 12 * 10);
      height: 281px;
      margin: 0 auto;
    }
    &__deco {
      width: 85px;
      height: 85px;
      left: 0;
      bottom: 41px;
    }
    &__deco-inner {
      width: 56px;
      height: 56px;
    }
    &__deco-img {
      width: 17px;
      height: 24px;

    }
    &__text-block {
      width: 100%;
    }
    .title {
     margin-bottom: 16px;
    }
  }
}