.list {
  background-color: #f9f7f2;
  padding-top: 120px;
  padding-bottom: 95px;

  .subtitle {
    @include subtitle;
    text-align: center;
    margin-bottom: 3px;
  }
  .title {
    @include title;
    text-align: center;
    margin-bottom: 53px;
  }
  &__grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 143px 143px 143px;
  }
  &__item {
    display: grid;
    grid-template-columns: 112px 1fr 100px;
    grid-column-gap: 32px;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    &:nth-child(5),
    &:nth-child(6) {
      border-bottom: unset;
    }
    &:nth-child(2n) {
      border-right: unset;
      padding-left: 30px;
    }
  }
  &__name {
    @include main-text;
    margin-bottom: 6px;
  }
  &__descr {
    font-family: $Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(51, 51, 51, 0.50133);
  }
  &__price {
    @include main-text($color: rgba(51, 51, 51, 0.501557));
  }
  &__img {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    box-shadow: (0px 6px 12px rgba(0, 0, 0, 0.3));
  }
  &__button {
    @include button;
    margin: 0 auto;
    display: block;
    width: 170px;
    margin-top: 64px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .list {
    &__grid-container {
      grid-template-columns: 100%;
      grid-template-rows: repeat (6, 1fr);
    }
    &__item {
      border-right: unset;
      &:nth-child(2n) {
        padding-left: unset;
      }
      &:nth-child(5) {
        border-bottom: 1px solid #eaeaea;
      }
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        padding-top: 16px;
        padding-bottom: 16px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .list {
    padding-top: 72px;
    padding-bottom: 80px;
    &__grid-container {
      grid-template-columns: 100%;
      grid-template-rows: repeat(6, 1fr);
    }
    &__item {
      position: relative;
      display: flex;
      justify-content: start;
      width: 100%;
      border-right: unset;
      &:nth-child(2n) {
        padding-left: unset;
      }
      &:nth-child(5) {
        border-bottom: 1px solid #eaeaea;
      }
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        padding-top: 16px;
        padding-bottom: 16px;
      }
    }
    &__name-deskr {
      width: calc(100% - 112px - 61px); 
      p {
        width: 100%; 
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    &__price {
      position: absolute;
      top:0;
      right: 0;
    }
    }
  }

