.nav {
  background-color: brown;
  &__ul {
    display: flex;
    list-style-type: none;
  }
  a {
    text-decoration: none;
    @include text-mini;
    
  }
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  mix-blend-mode: normal;
  border: 1px solid rgba($color: #ffffff, $alpha: 0.3);
  box-sizing: border-box;
  margin-left: 8px;
}

